@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BreadCrumbContent{
    <li><i class="fa fa-gears"></i> Administration</li>
    <li class="active"> <i class="fa fa fa-lock"></i> Permission</li>
}

@section PageTitleContent{

    <i class="fa fa-lock"></i>Permission
}

@section MainContent{

    <div class="row" style="padding-bottom:10px">
        <div class="col-md-12">
            <a class="btn btn-success pull-right" href="@Url.Action("Create", "Permission")"><i class="fa fa-file-o"></i><span>New</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Permission</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding table-striped table-condensed">
                    <table id="itemSearchTable" class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>Can View Singapore Data</td>
                                <td>VCSGD</td>
                                <td>25/05/2016</td>
                                <td>
                                    <a href="@Url.Action("Details", "UserGroup", new {id = 1})" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "UserGroup", new { id = 1 })" onclick=" return confirm('Are you sure you want to delete this record?'); " class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Indonesia Data</td>
                                <td>VCINDD</td>
                                <td>25/05/2016</td>
                                <td>
                                    <a href="@Url.Action("Details", "UserGroup", new {id = 1})" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "UserGroup", new { id = 1 })" onclick=" return confirm('Are you sure you want to delete this record?'); " class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Can View Indonesia Data</td>
                                <td>VCMGLD</td>
                                <td>25/05/2016</td>
                                <td>
                                    <a href="@Url.Action("Details", "UserGroup", new {id = 1})" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "UserGroup", new { id = 1 })" onclick=" return confirm('Are you sure you want to delete this record?'); " class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}

@section scripts{


}


















