@using CNC.Core.Components
@model GIMS.Web.Models.ItemInquiryVm

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Item Information</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <form class="form-horizontal" id="itemInquiryForm">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Item Number</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        @Html.TextBox5For(x => x.ItemRcInformation.ItemNo2nd, HtmlExtensions.Html5InputTypes.text, "Item No", "", false, false, false)
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            <button class="btn btn-default" type="button" id="addressSearch">Search</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Pricing UOM</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.PricingUom, HtmlExtensions.Html5InputTypes.text, "Pricing UOM", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Brand Origin</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.BrandOrigin, HtmlExtensions.Html5InputTypes.text, "Brand Origin", "", false, false, true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">HQ Plan Code</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.HQPlanCode, HtmlExtensions.Html5InputTypes.text, "HQ Plan Code", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">HQ Family Gp</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.HQFamilyGroup, HtmlExtensions.Html5InputTypes.text, "HQ Family Gp", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Product Origin</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.ProductOrigin, HtmlExtensions.Html5InputTypes.text, "Product Origin", "", false, false, true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">HQ SLS Code</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.HQSLSCode, HtmlExtensions.Html5InputTypes.text, "HQ SLS Code", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">HQ Demand Code</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.HQDemandCode, HtmlExtensions.Html5InputTypes.text, "HQ Demand Code", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">HQ Supply Code</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemRcInformation.HQSupplyCode, HtmlExtensions.Html5InputTypes.text, "HQ Supply Code", "", false, false, true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">List N</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.ListN, HtmlExtensions.Html5InputTypes.text, "List N", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.ListN2, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">BWAC</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemSgInformation.BWAC, HtmlExtensions.Html5InputTypes.text, "BWAC", "", false, false, true)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Unit per Carton</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemSgInformation.UnitPerCarton, HtmlExtensions.Html5InputTypes.text, "Unit per Carton", "", false, false, true)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">LCPL</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPL, HtmlExtensions.Html5InputTypes.text, "LCPL", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPL11, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">AU</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.AU, HtmlExtensions.Html5InputTypes.text, "AU", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.AU2, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">LCPE</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPE, HtmlExtensions.Html5InputTypes.text, "LCPE", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPE11, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">SP</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SP, HtmlExtensions.Html5InputTypes.text, "SP", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SP11, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">SKF SPL</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SKFSPL, HtmlExtensions.Html5InputTypes.text, "SKF SPL", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SKFSPL11, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">LCPE2</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPE2, HtmlExtensions.Html5InputTypes.text, "LCPE2", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.LCPE211, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nett1</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Nett1, HtmlExtensions.Html5InputTypes.text, "Nett1", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Nett111, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">SKF EXPL</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SKFEXPL, HtmlExtensions.Html5InputTypes.text, "SKF EXPL", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.SKFSPL11, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nett2</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Nett2, HtmlExtensions.Html5InputTypes.text, "Nett2", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Nett211, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last 12 Months Highest Selling px (SGD)</label>
                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Last12MonthlySelling, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" disabled="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last 12 Months Average Selling px (SGD)</label>

                                <div class="row col-sm-8">
                                    <div class="col-xs-8">
                                        @Html.TextBox5For(x => x.ItemSgInformation.Last12AverageSelling, HtmlExtensions.Html5InputTypes.text, "", "", false, false, true)
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" disabled="">
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Unit Weight (KG)</label>

                                <div class="col-sm-8">
                                    @Html.TextBox5For(x => x.ItemSgInformation.UnitWeight, HtmlExtensions.Html5InputTypes.text, "Unit Weight (KG)", "", false, false, true)
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </form>          
        </div>
    </div>
</div>