@model List<GIMS.Entities.HQStockStatus>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th>Warehouse</th>
                        <th>Reservation</th>
                        <th>Exstock ATP</th>
                        <th>WIP</th>
                        <th>Qty Transfer to</th>
                        <th>POATP</th>
                        <th>GIT ATP</th>
                        <th>INSP ATP</th>
                        <th>GIT Rf + date</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.WarehouseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reservation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExStockAtp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QtyTransferTo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.POAtp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GITAtp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.INSPAtp)
                            </td>
                            <td>
                                @string.Format("{0}    {1}", item.GITRf, item.GITDate == null ? "" : item.GITDate.Value.ToString("dd/MM/yyyy"))
                            </td>                          
                        </tr>
                    }


                </table>
            </div>

        </div>
    </div>
</div>