<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GIMS</title>
        @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
        @*<meta name="viewport" content="width=device-width" />*@
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <!-- Ionicons -->
        @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
        @Styles.Render("~/Content/css1")
        @Styles.Render("~/Content/css/AdminLTE")                
        @Scripts.Render("~/bundles/modernizr")
        

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        @RenderSection("HeadContent", false)
    </head>
<body class="skin-red sidebar-mini layout-boxed">
    @RenderBody()
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->            
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>G</b>ims</span>*@
                <span class="logo-mini"><img src="@Url.Content("~/Content/Images/gims-logo-mini.png")" /></span>
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>SLS </b>Gims Portal</span>*@
                <span class="logo-lg"><img src="@Url.Content("~/Content/Images/gims-logo.png")" /></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">Logged in : Christian</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        Christian
                                        @*<small>Member since Cha</small>*@
                                    </p>
                                    <p>Test company</p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
            @Html.Partial("_LeftNav")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @RenderSection("PageTitleContent", false)
                </h1>
                <ol class="breadcrumb">
                    @RenderSection("BreadCrumbContent", false)
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">               
                    @RenderSection("MainContent", true)               
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            @*<div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>*@
            <strong>Copyright &copy; 2015-2016 <a href="http://www.slsbearings.com.sg/">SLS Bearings (S) Pte Ltd</a>.</strong> All rights reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminLTE")
    @RenderSection("scripts", required: false)
</body>
</html>
